---
swagger: '2.0'
info:
  description: This is a sample rest API to demonstrate integration between Swagger
    (a.k.a. OpenAPI) and AWS API Gateway.
  version: 1.0.0
  title: sample Service
host: sample.com
basePath: "/v1"
schemes:
- https
paths:
  "/sum":
    post:
      tags:
      - sum
      summary: calculate sum
      description: ''
      operationId: calculate
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: sample object
        required: true
        schema: {}
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      x-amazon-apigateway-request-validators:
        basic:
          validateRequestParameters: true
      x-amazon-apigateway-integration:
        type: aws
        httpMethod: POST
        uri: arn:aws:apigateway:us-east-2:lambda:path/2015-03-31/functions/arn:aws:lambda:AWS_REGION:ACCOUNT_ID:function:PostSampleFunction/invocations
        responses:
          default:
            statusCode: 200
        requestTemplates:
          application/json: "{\r\n  \"method\": \"$context.httpMethod\",\r\n  \"body\"
            : \"$input.body\",\r\n  \"headers\": {\r\n    #foreach($param in $input.params().header.keySet())\r\n
            \   \"$param\": \"$util.escapeJavaScript($input.params().header.get($param))\"
            #if($foreach.hasNext),#end\r\n\r\n    #end\r\n  },\r\n  \"queryParams\":
            {\r\n    #foreach($param in $input.params().querystring.keySet())\r\n
            \   \"$param\": \"$util.escapeJavaScript($input.params().querystring.get($param))\"
            #if($foreach.hasNext),#end\r\n\r\n    #end\r\n  },\r\n  \"pathParams\":
            {\r\n    #foreach($param in $input.params().path.keySet())\r\n    \"$param\":
            \"$util.escapeJavaScript($input.params().path.get($param))\" #if($foreach.hasNext),#end\r\n\r\n
            \   #end\r\n  }  \r\n}"
definitions:
  AnyValue: {}
